<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DC" value="pxwms_n" />
    <add key="pxwms_n" value="Data Source=172.20.210.10 ;Initial Catalog=pxwms_n ;User Id=moci;Password=mociadmin" />
    <add key="pxwms_s" value="Data Source=172.20.236.10 ;Initial Catalog=pxwms_s ;User Id=moci;Password=mociadmin" />
    <add key="pxwms_c" value="Data Source=172.20.250.10 ;Initial Catalog=pxwms_c ;User Id=CarSystem;Password=C@rSystem;Application Name=CarSystem" />
    <add key="pxwms_200" value="Data Source=172.20.200.10 ;Initial Catalog=pxwms_n ;User Id=moci;Password=mociadmin;Connection Timeout=3" />
    <add key="Path" value="C:\\CarSystem\\" />
  </appSettings>
</configuration>